*.log
/.trae

# free_models_server
/free_models_server/.idea
/free_models_server/target
/free_models_server/*/target
/free_models_server/.env

# free_models_manager
/free_models_manager/.idea
/free_models_manager/node_modules
/free_models_manager/dist
/free_models_manager/src-tauri/target
/free_models_manager/src-tauri/gen
